/* General container styles */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


/* Inner containers (split into two columns) */
.auth-intro, .auth-form-container {
  flex: 1;
  padding: 40px 20px;
  box-sizing: border-box;
}

.auth-intro {
  background-color: #006daa;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px 0 0 15px;
  height: 60vh;
}

.auth-intro h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.auth-intro p {
  font-size: 18px;
  line-height: 1.6;
}

.auth-form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  height: 60vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.auth-form-group {
  margin-bottom: 15px;
  width: 100%;
}

.auth-form-group label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
  font-size: 16px;
}

.auth-form-group input, .form-step input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.auth-form-group input:focus, .form-step input:focus {
  border-color: #007bff;
  outline: none;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 75%;
  padding: 0 30px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #999;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.circle.active {
  background-color: #061a40;
  color: #fff;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: #ddd;
  margin-top: 24px;
}

.form-step {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.two-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  
}

.form-step label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
  font-size: 16px;
}

.auth-submit-button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to bottom, #061a40, #0353a4);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

.auth-submit-button:hover {
  background: linear-gradient(to bottom, #0353a4, #006daa);
  transform: translateY(-2px);
}

.auth-login-link {
  text-align: center;
  margin-top: 15px;
}

.auth-login-link a {
  color: #007bff;
  text-decoration: none;
}

.auth-login-link a:hover {
  text-decoration: underline;
}

.auth-error {
  color: #ff4d4d;
  font-size: 14px;
 
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .auth-page {
      flex-direction: column;
  }

  .auth-intro, .auth-form-container {
      width: 100%;
      padding: 20px;
  }

  .auth-intro {
      border-radius: 15px 15px 0 0;
  }

  .auth-form-container {
      border-radius: 0 0 15px 15px;
  }

  .auth-intro h1 {
      font-size: 28px;
  }

  .auth-intro p {
      font-size: 16px;
  }

  .auth-form-group input, .form-step input {
      font-size: 14px;
  }

  .auth-submit-button {
      width: 100%;
  }
}
