.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0.5rem;
  text-align: center;
  position: fixed; /* Ensure the footer is positioned relative to the page */
  bottom: 0;          /* Stick to the bottom */
  left: 0;            /* Full-width */
  right: 0;           /* Full-width */
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer p {
  margin: 0.5rem 0;
}